@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,700;1,400&display=swap');




*{
    border: 0px;
    padding: 0;
    box-sizing: border-box;
    
}

/* ########             HTML STYLEING          #########*/

html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
}

ul li{
    list-style: none;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
}
.center{
    text-align: center;
    font-weight: bolder;
}
.center-1{
    text-align: center;
    font-weight: bolder;
}

p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: .15em;
}

                                /*     utiliy class      */                  

.container{
    max-width: 1200px;
    width: 90%;
    margin:0 auto
}

h1, h2 ,h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}
.lg-heading{
    font-size: 3.5rem;
}
.left{
    padding-left: 4rem;
}

.text-red{
    color: rgb(10, 99, 129);
}

.text-white{
    color: #f4f4f4;
}

.text-black{
    color:#333333;
}

.text-gray{
    color: darkgray;
}
.md-heading{
    font-size: 2.2rem;
}

    /* header styleing */ 

.header{
    position: relative;
    height: 100vh;
    background:linear-gradient(#fff),url('./Img/.png');
    background-position-x: 50px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    color: aliceblue;
    font-weight: 400;
}

.navbar .logo{
    text-align: center;
    font-size: 55px;
    padding-right: 40px;
    margin-left: 2rem;
}
                
.Arthur{
    display: inline;

    padding-right:400px;
}

.navbar .nav-items{
    display: inlinel;
    float: right;
    padding-left: 1400px;
    
}

.navbar .nav-item{
    display: inline;
    padding: 1rem;
    text-transform: uppercase;
}

.navbar a:link,
.navbar a:visited{
    color: #f4f4f4;
}

.navbar a:hover{
    border-bottom: 1px solid #f4f4f4;
    
}

.navbar::after{
    content: "";
    display: block;
    clear: both;
}
/*########### /* header content   ############# */

.content{
    position: absolute;
    text-align: center;
    border-radius: 10px solid;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(#fff);

}

.content h1{
    text-transform: uppercase;
    font-weight: 700px;
}

content p{
    text-transform: uppercase;
}

.bg-dark{
    background-color: #333333;
}

.btn{
    display: inline-block;
    padding: 0.7em;
    padding-left: 5rem;
    padding-right: 5rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
}

.btn-primery{
    background-color: skyblue;
    border-radius: 100px;
}

.btn-primery:hover{
    background-color: rgba(187, 191, 213, 0.851);
}

.btn-secondary{
    border: 2px solid skyblue;
    border-radius:1.5em;
    color: skyblue;
    background: #fff;    
}
.btn-secondary3{
    border: 2px solid skyblue;
    border-radius:1.5em;
    color: skyblue;
    background: #fff;
    padding-top: -5rem;
    margin-top: 2rem;     
}

.btn-secondary3:hover{
    background-color: #808080;
}

.btn-secondary:hover{
    background-color: #808080;
}


/* show case section */

.showcase{
    background: #ddd;
    padding:10rem 150px;
}

.row{
    height: 350px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px #aaa;
}

.row1{
    margin-bottom: 10rem;
}

.row1 .img_box {
    float: right;
    width: 50%;
}

.row2 .text_box{
    float: right;
    width: 50%;
    margin-top: -5rem;
}


.row2 .img_box, .row1 .text_box{
    float: right;
    width: 50%;
}

.row .img_box{
    height: 100%;
}

.row .text_box{
    padding: 3rem;
}

.row .img_box img{
    display:inline-block;
    width:100%;
    height: 100%;
    object-fit: cover;
}

.row::after{
    content: " ";
    display: block;
    clear: both;
}

/*       FEATURES SCTION STYLING         */ 

.features{
    padding: 10 rem  0;
    padding-left: 15rem;
    padding-right: 15rem;
}




.box{
    width: 33.33%;
    float: left;
    padding: 2rem;
    text-align: center;
}

.box-1, .box-3{
    background-color: #333333;
    color: #fff;
}

.box-2{
    background-color: skyblue;
    color:#fff;
}


.box-wrapper::after{
    content: " ";
    display: block;
    clear: both;
}

/* SOCAIL MEDIA STYLING */

.footer{
    padding-top: 100px;
    text-align: center;
}
.copy-right{
    background: skyblue;
    color: #f4f4f4;
}

.copy-right{
    background: skyblue;
    color: #f4f4f4;
}

.socail-media{
    background: skyblue;
    color:black;
}



/* ABOUT US PAGE STYLEING */
.about{
    padding: 5rem 0;
}


/* ABOUT PAGE STYLING LIST    */

.about-heading{
    border-bottom: 6px solid skyblue;
}

.list{
    text-align: center;
    margin-top: 5rem;
}

.list .left{
    float: left;
    width: 50%;
}

.list .right{
    float: right;
    width: 50%;
}

.list li::before{
    content: "\2713";
    color: skyblue;
    font-weight: bold;
    padding-right: 1rem;

}

/*            count style             */ 

.counts{
    margin-top: 3rem;
}

.count-itemn{
    padding-top: 5rem;
    width: 25%;
    float: left;
    text-align: center;
}

.counts::after{
    content: "";
    display: block;
    clear: both;
}

.count-itemn span{
    font-size: 4rem;
    font-weight: 700;
    color: skyblue;
}
.block{
    font-weight: bolder;
}

.count-itemn p{
    font-weight: 700;
    color:#ddd;
    font-size: 1.8rem;
    border: solid 1px skyblue;
    background: skyblue;
}
    
/* banner syling */

.cta-baner{
    background:linear-gradient(25deg ,#d54c7f,skyblue 50%);
    color: #f4f4f4;
    padding: 1rem;
    margin-top: 5rem;
    box-shadow: 5px 5px 10px black; 
}

.cta-left{
    width: 60%;
    float: left;
}


.cta-right{
    width: 40%;
    float: right;
}


.cta-baner::after{
    content: "";
    display: block;
    clear: both;
}

.ctn-btn{
    font-weight: 700;
    font-size: 2rem;
    margin-top: 1.52rem;
}

.btn-ctn{
    text-align: center;
    display: inline-block;
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    border: 4px solid white;
    padding: 0.3rem 2.5rem;
    letter-spacing: 0.5rem;
    color: #f4f4f4;
}

          /*   CONTENT PAGE STYLEING   */
          
.content-from{
    padding: 5rem;
    background:#f7f7f7f7;
}


.form-wrapp::after{
    content: "";
    display: block;
    clear: both;
}

.form-wrapp .company-address{
    height: 760px;
    background: #f7f7f7f7;
    width: 49%;
    float: left;
}

.form-wrapp .add-grp{
    margin-bottom: 3rem;
}

.form-wrapp .im{
    max-width: 90%;
    min-height: 40rem;
    object-fit: cover;
    object-position: right;
    padding-left:1rem;
}

.form-wrapp .company-address i{
    display: inline-block;
    margin-right: 1rem;
}

.form-wrapp .company-address h2{
    display: inline-block;
    text-transform: uppercase;
}

/*   ################## form styling  ################# */
.form-wrapp .form{
    height: 780px;
    font-size: 1.6rem;
    background: #fff;
    width: 49%;
    float: left;
    padding: 1rem;
}

.form h1::after{
    content: "";
    display: block;
    border: 4px solid skyblue;
    width: 90%;
}

.form-wrapp .from-lable{
    display: block;
}

.form-wrapp .from .from-group{
    margin-top: 1.2rem;
}

.form-wrapp .from label::after{
    content: "*";
    color: skyblue;
}

.form-wrapp .form textarea{
    width: 100%;
    height: 300px;
    padding: 1rem;
}

.form-btn{
    display: block;
    margin: 0 auto;
    padding: 0.5rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    background: skyblue;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}
.black{
    font-size: larger black;
}
